In [0]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

# Data Integration

Proses Data integration merupakan salah satu teknik data preprocessing dengan melakukan penggabungkan 2 file dataset peminjaman dengan us_state_code( kode negara domisili peminjam).

### Load Data

In [0]:
import pandas as pd
### Dataset lendingclub-issued-loans
data_lc_loan = pd.read_csv("/content/drive/My Drive/TA_01/Dataset/accepted_2007_to_2016.csv", delimiter=',', index_col=0)
data_lc_2016_2017 = pd.read_csv("/content/drive/My Drive/TA_01/Dataset/lc_2016_2017.csv", delimiter=',', index_col=0)
data_us_state_codes = pd.read_csv("/content/drive/My Drive/TA_01/Dataset/lendingclub-issued-loans/us-state-codes.csv", delimiter=',', index_col=0)

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (18,46,54) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/usr/local/lib/python3.6/dist-packages/numpy/lib/arraysetops.py:568: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)
/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (18,54) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [0]:
data_loans = pd.concat([data_lc_loan, data_lc_2016_2017])

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

In [0]:
data_loans2 = data_loans.reset_index()

In [0]:
data_loans2['state_code'] = data_loans2['addr_state']

In [0]:
data_loans_with_state = pd.merge(data_loans2, data_us_state_codes, on='state_code')

In [0]:
#data_loans_with_state.to_csv('/content/drive/My Drive/TA_01/Dataset/data_loans_with_state.csv')

In [0]:
# Define a function to visulize the features with missing values, and % of total values, & datatype
def missing_values_table(df):
     # Total missing values
    mis_val = df.isnull().sum()
    # Percentage of missing values
    mis_val_percent = 100 * df.isnull().sum() / len(df)
    mis_val_type = df.dtypes
    
    # Make a table with the results
    mis_val_table = pd.concat([mis_val, mis_val_percent, mis_val_type], axis=1)
        
     # Rename the columns
    mis_val_table_ren_columns = mis_val_table.rename(columns = {0 : 'Missing Values', 1 : '% of Total Values', 2: 'type'})
        
    # Sort the table by percentage of missing descending
    mis_val_table_ren_columns = mis_val_table_ren_columns[ mis_val_table_ren_columns.iloc[:,1] != 0].sort_values('% of Total Values', ascending=False).round(1)
        
    # Print some summary information
    print ("Your selected dataframe has " + str(df.shape[1]) + " columns.\n" "There are " + str(mis_val_table_ren_columns.shape[0]) + " columns that have missing values.")
        
    # Return the dataframe with missing information
    return mis_val_table_ren_columns

In [0]:
missing_frac = data_loans_with_state.isnull().mean()
drop_list = sorted(missing_frac[missing_frac > 0.20].index)

In [0]:
def drop_cols(cols):
    data_loans_with_state.drop(labels=cols, axis=1, inplace=True)

In [0]:
drop_cols(drop_list)

In [0]:
from numpy.random import RandomState
rng = RandomState()
data_train = data_loans_with_state.sample(frac=0.75, random_state=rng)
data_test = data_loans_with_state.loc[~data_loans.index.isin(data_train.index)]

In [0]:
data_train

                id  acc_now_delinq addr_state  ...  zip_code state_code         state
1129866   85759146             0.0         NY  ...     104xx         NY       NewYork
1626283   91654956             0.0         WA  ...     993xx         WA    Washington
1211191    1349286             0.0         PA  ...     151xx         PA  Pennsylvania
1648150  104341462             0.0         WI  ...     530xx         WI     Wisconsin
345868    69803417             0.0         CA  ...     936xx         CA    California
...            ...             ...        ...  ...       ...        ...           ...
1143224  110019279             0.0         NY  ...     104xx         NY       NewYork
1806596   83634339             0.0         MD  ...     211xx         MD      Maryland
743514    69593052             0.0         TX  ...     750xx         TX         Texas
1899243   75134911             0.0         SD  ...     577xx         SD   SouthDakota
1621232  117099409             0.0         WA  ...     982xx         WA    Washington

[1560889 rows x 52 columns]

In [0]:
#data_train.to_csv('/content/drive/My Drive/TA_01/Dataset/data_train_loans.csv')

In [0]:
#data_test.to_csv('/content/drive/My Drive/TA_01/Dataset/data_test_loans.csv')